/* 
    FONTS SECTION 
*/

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* 
    HEADER SECTION 
*/


.header-section {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: black;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.header-centro ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-centro ul li {
    cursor: pointer;
    font-size: 20px;
    letter-spacing: -1px;
}

.header-centro ul li a {
    text-decoration: none;
    color: #A8A8A8 !important;
}

.header-centro a:hover {
    color: black !important;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

/* 
    HERO SECTION 
*/

.hero-section {
    background-image: url("./assets/hero-bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 100px !important;
    text-align: center;
    margin: 100px 0 20px;
}

.hero-title-colored {
    color: #7F56DA;
}

.hero-text {
    font-size: 20px;
    text-align: center;
}


/* 
    2 IMAGES SECTION 
*/