
/* 
    RESET AND BODY SECTION 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;
    color: #1f1f1f;
}

/* 
    HEADER SECTION 
*/

.header {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: black;
    letter-spacing: -1px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -3px;
}

.header-centro ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-centro ul li {
    cursor: pointer;
    font-size: 20px;
}

.header-centro ul li a {
    text-decoration: none;
    color: #A8A8A8 !important;
}

.header-centro a:hover {
    color: black !important;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.header-direita {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
}

.header-direita-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    gap: 10px;
    cursor: pointer;
}

.icon {
    height: 41px;
    max-width: 41px;
    object-fit: contain;
}

.header .text-bold {
    font-weight: 600;
}

/* 
    HERO SECTION 
*/

.hero {
    background-image: url("./assets/images/hero/bg-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    text-align: center;
    font-size: 80px !important;
    line-height: 80px;
    margin: 160px 0 20px;
    font-weight: 600;
    letter-spacing: -5px;
    margin-bottom: 30px;
}

.hero-title-colored {
    color: #7F56DA;
}

.hero-text {
    font-size: 20px;
    text-align: center;
    color: #B7B7B7;
    margin-bottom: 90px;
}

.bottom-hero {
    display: flex;
}

.bottom-hero-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 15px;
    margin: 0 10px;
}

.bottom-hero-item-icon {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    object-fit: contain;
}

.bottom-hero-item-text {
    font-size: 15px;
    line-height: 15px;
    color: #9e9e9e;
}

/* 
    CONTENT CARDS SECTION 
*/


/* 
    CLIENTS SECTION 
*/

.clients {
    overflow: hidden;
    background-color: #f5f5f5;
    padding: 40px 0;
}

.clients-track {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.clients-logo {
    height: 50px;
    margin: 0 40px;
    object-fit: contain;
}

.clients-logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    /* filter: drop-shadow(0 0 0.75rem #a3cbff); */
    filter: invert(39%) sepia(79%) saturate(3821%) hue-rotate(247deg) brightness(91%) contrast(90%);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
